:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-secondary: 242, 242, 242;
  --hover: #bfbfbf;
  --accent: #08B74F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 13, 13, 13;
    --background-secondary: 26, 26, 26;
    --hover: #404040;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

body > header {
  flex: 1;
  min-height: 15vh;
  display: flex;
}

body > header > .margin {
  flex: 0.5;
}

body > header > .header {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > header > .header > .link {
  width: 20%;
}

body > header > .header > .link:hover {
  cursor: pointer;
}

body > header h1 {
  font-size: 200%;
}

body > header h1 u {
  text-decoration: underline solid var(--accent);
}

body > header h4 {
  font-size: 100%;
  margin-block: 0em;
}

body > header h4 a {
  color: var(--accent);
}

body > .content {
  height: 85vh;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  body > header > .header > .link {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  body > header > .header {
    justify-content: center;
    align-items: center;
  }

  body > header > .header > .link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body > header h1 {
    font-size: 150%;
  }
  body > header h4 {
    font-size: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
